__pycache__/
.DS_Store
.ipynb_checkpoints/
movies/
pictures/

notes.txt

test_plots/

orbit_data/orbits_2_*
orbit_data/orbits_3_*
orbit_data/orbits_4_*

scripts/movie.sh
scripts/orbit_movie.py
scripts/rename.py
