__pycache__/
.DS_Store
.ipynb_checkpoints/
movies/
pictures/
info/

notes.txt

test_plots/

orbit_data/orbits_1_d1*.hdf5
orbit_data/orbits_2_*
orbit_data/orbits_3_*
orbit_data/orbits_4_*

orbit_data/Sun/orbits_2_*
orbit_data/Sun/orbits_3_*
orbit_data/Sun/orbits_4_*
orbit_data/Sun/orbits_5_*
orbit_data/Sun/orbits_6_*
orbit_data/Sun/old/

stream_data/WN*.txt
stream_data/NL*.txt
stream_data/streams_*
stream_data/merged_s*/
stream_data/merged/streams_2*
stream_data/iso/streams_2*
stream_data/merged/streams_3*
stream_data/iso/streams_3*
stream_data/merged/streams_4*
stream_data/iso/streams_4*
stream_data/merged/streams_5*
stream_data/iso/streams_5*
stream_data/mass/

scripts/orbit
scripts/movie.sh
scripts/orbit_movie.py
scripts/rename.py
scripts/*.e*
scripts/*.o*

main_encounters.py

encounters/
	
main.py
notebooks/*

papers/

scripts/dump_data.sh
scripts/enc_distribution.py
scripts/pipeline.py

gen_PL.py
